spring:
  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: true

cloud:
  aws:
    region:
      static: ${OBJECT_REGION}
    credentials:
      access-key: ${OBJECT_ACCESS}
      secret-key: ${OBJECT_SECRET}
    s3:
      bucket: ${BUCKET_NAME}

sms:
  api:
    sender: 01050578403
    key: NCSTID8NYPEQAKK6
    secret: NRPRB4XNLJVCEN9RQRJY8MYKDZ1KAWRF

google:
  calendar:
    calendar-id: ${CALENDAR_ID}
    application-name: ${APPLICATION_NAME}
    attendee-email: ${ATTENDEE_EMAIL}
    service-account-key-base64: ${SERVICE_ACCOUNT_KEY_BASE64}
  firebase:
    firebase-service-account-key-base64: ${FIREBASE_SERVICE_ACCOUNT_KEY_BASE64}

jwt:
  secret:
    key: 33b~OExIB6Td><!*LKHyqB5[kK:L9_Z&Ytx8#sWi2^PD7":RnprWA.3I`W-cw]K